<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN""http://www.w3.org/TR/REC-html40/loose.dtd">
<HTML>
<HEAD>
<!-- 日本語はEUC -->
<meta http-equiv="content-type" content="text/html; charset=euc-jp">
<TITLE>
<TMPL_VAR NAME="project_name"> API Help 
</TITLE>
<LINK REL ="stylesheet" TYPE="text/css" HREF="stylesheet.css" TITLE="Style">
</HEAD>
<SCRIPT>
function asd()
{
parent.document.title="<TMPL_VAR NAME="project_help"> API Help";
}
</SCRIPT>
<BODY BGCOLOR="white" onload="asd();">

<!-- ========== START OF NAVBAR ========== -->
<A NAME="navbar_top"><!-- --></A>
<TABLE BORDER="0" WIDTH="100%" CELLPADDING="1" CELLSPACING="0">
<TR>
<TD COLSPAN=3 BGCOLOR="#EEEEFF" CLASS="NavBarCell1">
<A NAME="navbar_top_firstrow"><!-- --></A>
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="3">
  <TR ALIGN="center" VALIGN="top">
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <A HREF="overview-summary.html"><FONT CLASS="NavBarFont1"><B>概要</B></FONT></A>&nbsp;</TD>
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <FONT CLASS="NavBarFont1">ファイル</FONT>&nbsp;</TD>
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <FONT CLASS="NavBarFont1">クラス</FONT>&nbsp;</TD>
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <A HREF="overview-tree.html"><FONT CLASS="NavBarFont1"><B>階層ツリー</B></FONT></A>&nbsp;</TD>
  <!--TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <A HREF="deprecated-list.html"><FONT CLASS="NavBarFont1"><B>非推奨</B></FONT></A>&nbsp;</TD-->
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <A HREF="index-all.html"><FONT CLASS="NavBarFont1"><B>索引</B></FONT></A>&nbsp;</TD>
  <TD BGCOLOR="#FFFFFF" CLASS="NavBarCell1Rev"> &nbsp;<FONT CLASS="NavBarFont1Rev"><B>ヘルプ</B></FONT>&nbsp;</TD>
  </TR>
</TABLE>
</TD>
<TD ALIGN="right" VALIGN="top" ROWSPAN=3><EM>
<B><TMPL_VAR NAME="project_name"></B>
</EM>
</TD>
</TR>

<TR>
<TD BGCOLOR="white" CLASS="NavBarCell2"><FONT SIZE="-2">
&nbsp;前&nbsp;
&nbsp;次</FONT></TD>
<TD BGCOLOR="white" CLASS="NavBarCell2"><FONT SIZE="-2">
  <A HREF="index.html" TARGET="_top"><B>フレームあり</B></A>  &nbsp;
&nbsp;<A HREF="help-doc.html" TARGET="_top"><B>フレームなし</B></A>  &nbsp;
&nbsp;
<SCRIPT>
  <!--
  if(window==top) {
    document.writeln('<A HREF="allclasses-noframe.html" TARGET=""><B>全てのクラス</B></A>');
  }
  //-->
</SCRIPT>
<NOSCRIPT>
<A HREF="allclasses-noframe.html" TARGET=""><B>全てのクラス</B></A>
</NOSCRIPT>
</FONT></TD>
</TR>
</TABLE>
<!-- =========== END OF NAVBAR =========== -->

<HR>
<CENTER>
<H1>
APIドキュメントの構成</H1>
</CENTER>
この API (Application Programming Interface) ドキュメントには、次に説明するナビゲーションバーにある項目に対応するページが含まれます。
<H3>クラス</H3>
<BLOCKQUOTE>

<P>
各クラスは個別のページを持ちます。各ページには次のように、クラス説明と、概要テーブル、およびメンバの詳細説明が含まれます:
<UL>
<LI>クラス階層表示<LI>直系のサブクラス<LI>クラスの宣言<LI>クラスの記述
<P>
<LI>フィールドの概要<LI>コンストラクタの概要<LI>メソッドの概要
<P>
<LI>フィールドの詳細<LI>コンストラクタの詳細<LI>メソッドの詳細</UL>
各概要項目には、その項目の詳細説明の中から 1 行目の文が表示されます。</BLOCKQUOTE>

<H3>階層ツリー (クラス階層)</H3>
<BLOCKQUOTE>
全てのクラスには<A HREF="overview-tree.html">クラス階層</A> ページがあります。 各階層ページは、クラスのリストを含みます。 クラスは<code>Object</code>を開始点とする継承構造で編成されます。<UL>
</BLOCKQUOTE>

<H3>非推奨</H3>
<BLOCKQUOTE>
<A HREF="deprecated-list.html">非推奨API</A> ページは、すべての推奨されていない API のリストを表示します。非推奨 API とは、機能改善などによって使用をお勧めできなくなった API のことで、通常はそれに代わる API が提供されます。非推奨 API は今後の実装で削除される可能性があります。
</BLOCKQUOTE>

<H3>索引</H3>
<BLOCKQUOTE>
<A HREF="index-all.html">索引</A> 索引 には、すべてのクラス、コンストラクタ、メソッド、およびフィールドのアルファベット順のリストが含まれます。</BLOCKQUOTE>
<H3>
前/後</H3>
これらのリンクにより、前または次のクラス、または関連ページへ移動できます。<H3>

フレームあり/フレームなし</H3>
これらのリンクは HTML フレームを表示したり隠したりします。すべてのページはフレームありでも、フレームなしでも表示できます。 
<P>
<FONT SIZE="-1">
<EM>
このヘルプファイルは、標準の doclet によって生成された API ドキュメントに適用されます。</EM>
</FONT>
<BR>
<HR>

<!-- ========== START OF NAVBAR ========== -->
<A NAME="navbar_bottom"><!-- --></A>
<TABLE BORDER="0" WIDTH="100%" CELLPADDING="1" CELLSPACING="0">
<TR>
<TD COLSPAN=3 BGCOLOR="#EEEEFF" CLASS="NavBarCell1">
<A NAME="navbar_bottom_firstrow"><!-- --></A>
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="3">
  <TR ALIGN="center" VALIGN="top">
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <A HREF="overview-summary.html"><FONT CLASS="NavBarFont1"><B>概要</B></FONT></A>&nbsp;</TD>
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <FONT CLASS="NavBarFont1">ファイル</FONT>&nbsp;</TD>
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <FONT CLASS="NavBarFont1">クラス</FONT>&nbsp;</TD>
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <A HREF="overview-tree.html"><FONT CLASS="NavBarFont1"><b>階層ツリー</b></FONT></A>&nbsp;</TD>
  <!--TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <A HREF="deprecated-list.html"><FONT CLASS="NavBarFont1"><B>非推奨</B></FONT></A>&nbsp;</TD-->
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <A HREF="index-all.html"><FONT CLASS="NavBarFont1"><B>索引</B></FONT></A>&nbsp;</TD>
  <TD BGCOLOR="#FFFFFF" CLASS="NavBarCell1Rev"> &nbsp;<FONT CLASS="NavBarFont1Rev"><B>ヘルプ</B></FONT>&nbsp;</TD>
  </TR>
</TABLE>
</TD>
<TD ALIGN="right" VALIGN="top" ROWSPAN=3><EM>
<B><TMPL_VAR NAME="project_name"></B>
</EM>
</TD>
</TR>

<TR>
<TD BGCOLOR="white" CLASS="NavBarCell2"><FONT SIZE="-2">
&nbsp;前&nbsp;
&nbsp;次</FONT></TD>
<TD BGCOLOR="white" CLASS="NavBarCell2"><FONT SIZE="-2">
  <A HREF="index.html" TARGET="_top"><B>フレームあり</B></A>  &nbsp;
&nbsp;<A HREF="help-doc.html" TARGET="_top"><B>フレームなし</B></A>  &nbsp;
&nbsp;
<SCRIPT>
  <!--
  if(window==top) {
    document.writeln('<A HREF="allclasses-noframe.html" TARGET=""><B>全てのクラス</B></A>');
  }
  //-->
</SCRIPT>
<NOSCRIPT>
<A HREF="allclasses-noframe.html" TARGET=""><B>全てのクラス</B></A>
</NOSCRIPT>
</FONT></TD>
</TR>
</TABLE>
<!-- =========== END OF NAVBAR =========== -->

<HR>
<FONT SIZE="-1">
<TMPL_VAR NAME="page_footer">
</FONT>
<div class="jsdoc_ctime">このドキュメントは<a href="http://jsdoc.sourceforge.net/" target="_parent">JSDoc</a> によって <TMPL_VAR NAME="ctime">に作成されました。</div>
</BODY>
</HTML>
